<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>聊天室</title>
    <script src="./js/jquery.min.js"></script>
    <script src="./js/socket.io.js"></script>
    <link rel="stylesheet" href="./css/index.css">
</head>

<body>
    <div>
        <ul class="pages">
            <li class="chat page">
                <div class="chatArea">
                    <ul class="messages"></ul>
                </div>
                <input class="inputMessage" placeholder="Type here...">
            </li>
            <li class="login page">
                <div class="form">
                    <h3 class="title">What's your nickname?</h3>
                    <input class="sendUserInput" type="text" maxlength="14">
                </div>
                <div class="form" style="display: none">
                    <h3 class="title">What's the room number for your chat?</h3>
                    <input class="roomInput" type="text" maxlength="14">
                </div>
            </li>
        </ul>
    </div>
</body>

<script type="text/javascript">

    $(function(){

        let socket;
        let sendUser = '';
        let room = '';
        let content = '';

        var COLORS = [
            '#e21400', '#91580f', '#f8a700', '#f78b00',
            '#58dc00', '#287b00', '#a8f07a', '#4ae8c4',
            '#3b88eb', '#3824aa', '#a700ff', '#d300e7'
        ];


        $(".login.page .form:eq(0) input").focus();

        // 发送昵称-回车触发事件
        $(".sendUserInput").keyup(function(event){
            if(event.keyCode ==13){
                console.log("发送昵称输入完成");
                sendUser = $('.sendUserInput').val();
                $(".login.page .form:eq(0)").hide();
                $(".login.page .form:eq(1)").show();
                $(".login.page .form:eq(1) input").focus();
            }
        });

        // 聊天室房间号-回车触发事件
        $(".roomInput").keyup(function(event){
            if(event.keyCode ==13){
                console.log("接受昵称输入完成");
                room = $('.roomInput').val();
                connect();
            }
        });

        // 发送信息-回车触发事件
        $(".inputMessage").keyup(function(event){
            if(event.keyCode ==13){
                console.log('发送');
                content = $('.inputMessage').val();
                send();
            }
        });

        // 得到用户颜色
        const getUsernameColor = (username) => {
            // Compute hash code
            var hash = 7;
            for (var i = 0; i < username.length; i++) {
                hash = username.charCodeAt(i) + (hash << 5) - hash;
            }
            // Calculate color
            var index = Math.abs(hash % COLORS.length);
            return COLORS[index];
        }

        function connect() {
            console.log('准备建立连接');
            console.log(`昵称:${sendUser}，聊天室:${room}`);
            let opts = {
                query: `sendUser=${sendUser}&room=${room}`
            };
            socket = io.connect('http://127.0.0.1:8974', opts);
            // 连接
            socket.on('connect', function () {
                console.log("连接成功");
                $(".login.page").hide();
                $(".chat.page").show();
                serverOutput(`<li class="log" style="display: list-item;">Welcome to Socket.IO Chat – </li>`);
            });
            // 接受消息
            socket.on('push_event', function (data) {
                let message = JSON.parse(data);
                let html = `<span class="username" style="color:${getUsernameColor(message.sendUser)}">${message.sendUser}：</span><span class="messageBody">${message.content}</span>`;
                output(html);
            });
            // 断开连接
            socket.on('disconnect', function () {
                serverOutput(`<li class="log" style="display:list-item;color: red">left</li>`);
            });
        }

        function output(message) {
            let element = $("<li>" + " " + message + "</li>");
            $('.messages').append(element);
        }

        function serverOutput(message) {
            let element = $("<div>" + message + "</div>");
            $('.messages').append(element);
        }

        function send() {
            socket.emit('text',{'sendUser':sendUser, 'room':room, 'content':content});
            $('.inputMessage').val('');
        }

    })

</script>
</html>